target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/Target/
!**/src/test/resources/Target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System Files ###
Thumbs.db
Desktop.ini

### Local Env ###
.env
.env.local
*.log
application-local.yaml
.mvn/wrapper/maven-wrapper.jar
